:root {
    --navy-blue-color: #2E2F42;
    --interactive-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.list 
{
    list-style: none;
}

.link
{
    text-decoration: none;
}

.secret-name
{ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin:-1px; 
    padding: 0; 
    overflow:hidden; 
    border: 0; 
    clip: rect(0 0 0 0); 
} 

.header .logo-studio {
   color: var(--navy-blue-color); 
} 

.logo-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-web {
    color: #4D5AE5;
}

.footer .logo-studio {
    color: #F4F4FD;
}

.header {
}
.header-nav {
}

.header-link {
    color: var(--navy-blue-color);
}

.header-list { 
}
.heder-item {
}
.address {
}
.address-list {
}
.address-item {
} 

.address-mail, .address-tel {
    color: var(--interactive-color);
}
.address-mail:hover, .address-mail:focus, 
.address-tel:hover, .address-tel:focus {
    color: #4D5AE5;
}

.headline {
    font-size: 20px;
    line-height: 1.2;    
    color: #2E2F42;
}

.text {
}

/*----------------------------------------Hero Portfolio--------------------------------------*/

.hero {
}
.hero-title {
}
.hero-list {
}
.hero-item {
}
.hero-btn {    
    color: #4D5AE5;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.hero-btn:hover, .hero-btn:focus {
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    cursor: pointer;
}
.hero-link {
    color: var(--interactive-color);
}

/*------------------------------Index Studio-----------------------------------------*/ 

.solutions-section {
    background: #2E2F42;
}

.solutions-section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
}

.solutions-section-btn {
    background: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}  

.heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

/*-------------------------------Footer----------------------------------------------*/

.footer {
    background: #2E2F42;
}

.footer-link {
}

.footer-text {
    color: #E7E9FC;
}